<style>

    html {
        padding: 0;
    }

    header {
        padding: 0;
        background-color: #243c6e;
        text-align: left;
        display: flex;
    }

    ul {
        display: inline-block;
    }

    li {
        padding: 16px;
        display: inline-block;
    }

    .logo-box {
        max-width: 64px;
        max-height: 64px;
        position: relative;
    }

    .logo {
        max-width: 64px;
        max-height: 64px;
        position: relative;
    }

    .logo-text {
        margin: 0 0 0 16px;
        text-align: left;
        font-size: 30px;
    }

    .current-page {
        font-size: 20px;
    }

    .navlink {
        color: white;
        text-decoration: none;
    }

    .navlink:hover {
        font-size: 20px;
        position: sticky;
    }

    body {
       background-color: #14213d;
       font-family: chaparral-pro, serif;
       font-size: 15px;
       color: #ffffff;
       margin: 0 0 0 0;
       padding: 0;
    }

    .wrapper {
       padding: 20px;
    }

    .content-main {
        margin: 48px auto 0 ;
        max-width: 1080px;
    }

    .img {
        display: block;
        margin: 16px auto 16px auto;
    }

    h1 {
        font-size: 48px;
        margin: 16px;
        text-align: center;
    }

    h2 {
        font-size: 32px;
        margin: 16px;
    }

    .link {
        color: white;
        text-decoration: none;
    }

    .link:hover {
        text-decoration: underline;
    }

    p {
        margin: 16px 0 16px 16px;
        text-align: justify;
    }

    footer {
        margin: 0;
        padding: 16px;
        background-color: #284179;
        font-size: 12px;
    }

    .footer-wrap {
        max-width: 1080px;
        margin: 16px auto 0 ;
    }

</style>